@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<div>
    <ol>
        <li>
            Put <strong>secrets_base.json</strong> into @Microsoft.Extensions.Configuration.UserSecrets.PathHelper.GetSecretsPathFromSecretsId("aspnet-PureMVC-03DBBA63-909B-4BCD-B387-84069AD9A5E3")
            &nbsp;with name <strong>secrets.json</strong>.
        </li>
        <li>
            Run<br /><strong>$dotnet clean<br />$dotnet build<br />$dotnet run</strong>
        </li>
    </ol>
    
</div>